In [3]:
import pylab as pl
import pandas as pd
import numpy as np
%pylab inline
import os
#import to run KS Test
import scipy.stats

Populating the interactive namespace from numpy and matplotlib

In [4]:
os.getenv('PUIDATA')

'/home/cusp/tma353/PUIdata'

In [5]:
# !ls /gws/open/Student/citibike
# importing first month of dataset: July, 2017
# called 'df1'

In [8]:
datestring = '201707'

In [9]:
df1 = pd.read_csv('/gws/open/Student/citibike/' + datestring + '-citibike-tripdata.csv.zip', compression='zip')
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [10]:
datestring_secondset = '201701'

In [12]:
df2 = pd.read_csv('/gws/open/Student/citibike/' + datestring + '-citibike-tripdata.csv.zip', compression='zip')
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [13]:
# concatenation
df = pd.concat([df1, df2], axis=0)

In [19]:
# manipulating columns to prepare for distribution analysis
# dataframe titled 'df' has both January (df2) and July (df1) 2017 concatenated together
df['date'] = pd.to_datetime(df1['starttime'])
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,starthour,day_night
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1,2017-07-01 00:00:00,0,night
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1,2017-07-01 00:00:03,0,night
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2,2017-07-01 00:00:08,0,night
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1,2017-07-01 00:00:11,0,night
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2,2017-07-01 00:00:15,0,night

In [20]:
df.columns

Index([u'tripduration', u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender', u'date', u'starthour',
       u'day_night'],
      dtype='object')

In [21]:
df['starthour'] = df['date'].dt.hour
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,starthour,day_night
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1,2017-07-01 00:00:00,0,night
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1,2017-07-01 00:00:03,0,night
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2,2017-07-01 00:00:08,0,night
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1,2017-07-01 00:00:11,0,night
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2,2017-07-01 00:00:15,0,night

In [22]:
# split by category: DAY VS. NIGHT
df['day_night'] = np.where((df['starthour'] > 6)&(df['starthour'] < 20), 'day', 'night')

df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,starthour,day_night
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1,2017-07-01 00:00:00,0,night
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1,2017-07-01 00:00:03,0,night
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2,2017-07-01 00:00:08,0,night
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1,2017-07-01 00:00:11,0,night
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2,2017-07-01 00:00:15,0,night

In [23]:
df.columns

Index([u'tripduration', u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender', u'date', u'starthour',
       u'day_night'],
      dtype='object')

In [24]:
df.drop([u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender'],axis=1, inplace=True)

In [25]:
df.columns

Index([u'tripduration', u'date', u'starthour', u'day_night'], dtype='object')

In [26]:
df.head()

   tripduration                date  starthour day_night
0           364 2017-07-01 00:00:00          0     night
1          2142 2017-07-01 00:00:03          0     night
2           328 2017-07-01 00:00:08          0     night
3          2530 2017-07-01 00:00:11          0     night
4          2534 2017-07-01 00:00:15          0     night

In [27]:
# creating separate dataframes for day and night
dfDur_day = df[df.day_night == 'day']
dfDur_night = df[df.day_night == 'night']
dfDur_day.head()

      tripduration                date  starthour day_night
1923           861 2017-07-01 07:00:04          7       day
1924           225 2017-07-01 07:00:17          7       day
1925           288 2017-07-01 07:00:18          7       day
1926           485 2017-07-01 07:00:33          7       day
1927           107 2017-07-01 07:00:41          7       day

In [28]:
# KS Test Comparing Day and Night Durations
# to show different distributions for day and night trip durations

In [29]:
# convert day/night dataframes into arrays for KS analysis
valDay = dfDur_day['tripduration'].values
valNight = dfDur_night['tripduration'].values

In [30]:
# Hypothesis:
# The trip durations during the day and the trip durations during the night are from the same distribution.
# Null Hypothesis (H_0)
# The trip durations during the day and the trip durations during the night are NOT from the same distribution.
# alpha = 0.05

In [31]:
scipy.stats.ks_2samp(valDay, valNight)

Ks_2sampResult(statistic=0.034825785837608786, pvalue=0.0)

In [32]:
# results of analysis ist  p Value is exteremely low. Therefore we can rule out a null hypothesis if assumed alpha value of 0.05.
# not much of difference in the distributions of trip durations between day trips and night trips on citibikes July 2017. 
# the distance between the two plots using KS Test are close and the p Value is low

In [33]:
# KS Test/200 Comparing Day and Night Durations on a Smaller Scale
# KS test to show different distributions for day and night trip durations except use a smaller data set by a function of 200 times
# Hypothesis: trip durations during the day and the trip durations during night are from the same distribution
# Null Hypothesis (H_0)
# The trip durations during the day and night are NOT from the same distribution
# alpha = 0.05

In [34]:
# reducing df for day and night by a factor of 200
small_valDay = (len(valDay)/200)
small_valNight = (len(valNight)/200)

small_valDay = dfDur_day.sample(small_valDay, random_state = 4)
small_valNight = dfDur_night.sample(small_valNight, random_state = 4)

In [35]:
small_sample_valDay = small_valDay['tripduration'].values
small_sample_valNight = small_valNight['tripduration'].values

In [36]:
scipy.stats.ks_2samp(small_sample_valDay, small_sample_valNight)

Ks_2sampResult(statistic=0.0493854499024464, pvalue=6.8962573438892638e-06)

In [37]:
# Results from analysis show p Value is exteremely low. Therefore we can rule out null hypothesis if assumed alpha value of 0.05
# there is not an extreme difference in the distributions of trip durations between day trips and night trips on citibikes July, 2017
# suppored by distance between the two plots using the KS Test are close in value, and the p Value is low

In [38]:
# taking 1/200th samples as numpy arrays to get data the same size

# using random seed
np.random.seed(999)

# using .choice funciton
day_array = np.random.choice(dfDur_day['tripduration'], size = 20000, replace=False)
night_array = np.random.choice(dfDur_night['tripduration'], size = 20000, replace = False)

In [39]:
# sort arrays to prep for Pearson's and Spearman's Correlation tests:
day_array = np.sort(day_array)
night_array = np.sort(night_array)

In [40]:
# Pearson's Test Comparing Correlation Between Hour of Trip Origin and Trip Durations
# Test to show the correlation between hour trip began and the trip duraiton.
# Hypothesis: there is a correlation between start time and duration of a citibike trip.
# Null Hypothesis (H_0)
# There is NO correlation between start time and duration of a citibike trip.
# alpha = 0.05

In [41]:
# run Pearson Test
scipy.stats.pearsonr(day_array, night_array)

(0.85865839996667592, 0.0)

In [42]:
# Results show that the p Value is exteremely low. 
# rule out a null hypothesis if we assumed alpha value of 0.05

In [44]:
# Spearman's Test Comparing Correlation Between Hour of Trip Origin and Trip Durations
# Test to show the correlation between hour trip began and the trip duraiton.
# Hypothesis: There is a correlation between start time and duration of a citibike trip.
# Null Hypothesis (H_0)
# There is NO correlation between start time and duration of a citibike trip.
# alpha$ = 0.05

In [45]:
scipy.stats.spearmanr(day_array, night_array)

SpearmanrResult(correlation=0.99999939758988843, pvalue=0.0)

In [46]:
# Results show that the p Value is exteremely low. Can rule out a null hypothesis w/alpha value of 0.05

In [47]:
# Reset what 'df' is equal to
# concatenation
df3 = pd.concat([df1, df2], axis=0)

In [50]:
df3.columns

Index([u'tripduration', u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender'],
      dtype='object')

In [52]:
df3.drop([u'bikeid', u'end station id',
       u'end station latitude', u'end station longitude', u'end station name',
       u'gender', u'starttime',
       u'stoptime', u'tripduration', u'usertype'],axis=1, inplace=True)

In [53]:
df3.head()

,start station id,start station name,start station latitude,start station longitude,birth year
0,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,1986.0
1,293,Lafayette St & E 8 St,40.730207,-73.991026,1981.0
2,3242,Schermerhorn St & Court St,40.691029,-73.991834,1984.0
3,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,1985.0
4,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,1982.0

In [54]:
df3['age'] = 2017 - df3['birth year']

In [55]:
df3.head()

,start station id,start station name,start station latitude,start station longitude,birth year,age
0,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,1986.0,31.0
1,293,Lafayette St & E 8 St,40.730207,-73.991026,1981.0,36.0
2,3242,Schermerhorn St & Court St,40.691029,-73.991834,1984.0,33.0
3,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,1985.0,32.0
4,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,1982.0,35.0

In [70]:
#Determining Boroughs 

#Anything greater than 40.739246 is Manhattan
df3.loc[df3['start station latitude'] > 40.739246, 'borough'] = 'Manhattan'

#Anything less than 40.700420 is Brooklyn
df3.loc[df3['start station latitude'] < 40.700420, 'borough'] = 'Brooklyn'

#Anything less than 40.738868 and greater than -73.971104 is Brooklyn
df3.loc[(df3['start station latitude'] < 40.738868) & (df3['start station longitude'] > -73.971104), 'borough'] = 'Brooklyn'

#Anything greater than 40.710150 and less than  -73.971778 is Manhattan
df3.loc[(df3['start station latitude'] > 40.710150) & (df3['start station longitude'] < -73.971778), 'borough'] = 'Manhattan'

#Anything greater than 40.700040 and less than -74.000767 is Manhattan
df3.loc[(df3['start station latitude'] > 40.700040) & (df3['start station longitude'] < -74.000767), 'borough'] = 'Manhattan'

#Anything less than 40.707762 and greater than -73.998355 is Brooklyn
df3.loc[(df3['start station latitude'] < 40.707762) & (df3['start station longitude'] > -73.998355), 'borough'] = 'Brooklyn'

df3.head()
#dfBor = dfAge
#type(dfBor)

,start station id,start station name,start station latitude,start station longitude,birth year,age,borough
0,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,1986.0,31.0,Brooklyn
1,293,Lafayette St & E 8 St,40.730207,-73.991026,1981.0,36.0,Manhattan
2,3242,Schermerhorn St & Court St,40.691029,-73.991834,1984.0,33.0,Brooklyn
3,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,1985.0,32.0,Brooklyn
4,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,1982.0,35.0,Brooklyn

In [56]:
# import citibike feed info - to get station info in geo-specific format
import requests
resp = requests.get('https://feeds.citibikenyc.com/stations/stations.json')
resp = resp.json()

In [71]:
dfBor_M = df[df3.borough == 'Manhattan']
dfBor_B = df[df3.borough == 'Brooklyn']

In [72]:
dfBor_M['age'] = 2016 - dfBor_M['birth year']
dfBor_B['age'] = 2016 - dfBor_B['birth year']

KeyError: 'birth year'

In [57]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [58]:
geolocator.reverse("40.715, -73.96").raw['address']['county']

u'Kings County'

In [61]:
my_latlng = str(resp['stationBeanList'][0]['latitude']) + ",  " + str(resp['stationBeanList'][0]['longitude'])

In [62]:
geolocator.reverse(my_latlng).raw['address']['county']

u'New York County'

In [63]:
my_list = {}
for elem in df3['start station id'].unique():
    my_list[elem] = str(df3['start station latitude'][df3['start station id'] == elem].head(1).values[0]) + ", "\
    + str(df3['start station latitude'][df3['start station id'] == elem].head(1).values[0])

In [64]:
my_boro = {}
for elem in my_list:
    my_boro[elem] = geolocator.reverse(my_list[elem]).raw['address']['county']

In [65]:
my_boro[72] = geolocator.reverse(my_list[72]).raw['address']['county']

In [66]:
geolocator.reverse("40,-70").raw

{u'address': {u'country': u'United States of America',
  u'country_code': u'us',
  u'state': u'Massachusetts'},
 u'boundingbox': [u'41.1888589', u'42.8867135', u'-73.508142', u'-69.8601042'],
 u'display_name': u'Massachusetts, United States of America',
 u'lat': u'42.3788774',
 u'licence': u'Data \xa9 OpenStreetMap contributors, ODbL 1.0. http://www.openstreetmap.org/copyright',
 u'lon': u'-72.032366',
 u'osm_id': u'61315',
 u'osm_type': u'relation',
 u'place_id': u'178151284'}

In [67]:
df3['start station latitude'][df3['start station id'] == 72].head(1).values[0]

40.767272159999997

In [68]:
len(resp['stationBeanList'])

811

In [69]:
for elem in my_latlng:
    print geolocator.reverse(elem).raw['address']['county']

ValueError: Must be a coordinate pair or Point